@using Chatter.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in to Chatter";
}
    @*ReturnUrl = ViewBag.ReturnUrl*@

<div class="container" id="loginForm">
    <div class="row">
        <div class="col-md-8">
            <div class="thumbnail thumbLogin">
                <div class="logInFormDetails">
                    <h2>@ViewBag.Title.</h2>
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <div class="col-md-2 logInButton">
                                            <input type="submit" value="Log in" class="btn btn-default" id="LogInButton" />
                                        </div>
                                        <div class="col-md-8 pull-left" style="margin-top: 8px;">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe, "Remember me")
                                            @Html.ActionLink("Forgot password?", "ForgotPassword")
                                        </div>
                                    </div>
                                </div>
                            </div>
                      
                            
                        }
                    </section>
                </div>
                <div class="caption" id="loginThumbCaption">
                    <p>
                        New to Chatter?
                        @Html.ActionLink("Sign up now", "Register")
                    </p>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}