@model Chatter.Models.Chit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChitText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChitText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChitCreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChitCreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
