@model  IEnumerable<Chatter.Models.Chit>

@{
    ViewBag.Title = "Index";
}
<header class="container-fluid">
    <div class="profilePicContainer">
        @*<img class="profilePic" src="~/Images/tapestry-755294_960_720.jpg" />*@
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="headerBanner">

            </div>
        </div>
    </div>
    <div class="row" style="background-color: white;">
        <div class="container profileNavigation">
            <div class="col-lg-3">
               
            </div>
                <div class="col-lg-9" id="profileNavMenu">
                    <ul class="profileNav">
                        <li class="pull-left">
                            <a href="~/Views/Chits/Index.cshtml" class="profileNavItem pull-left">
                                <span class="profileNavLabel">Chits</span>
                                <span class="profileNavValue">#</span>
                                @*@ViewBag.CurrentUser.Chit.Count()*@
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="Chits/Following" class="profileNavItem pull-left">
                                <span class="profileNavLabel">Following</span>
                                <span class="profileNavValue">#</span>
                                @*@ViewBag.CurrentUser.Following.Count()*@
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="#" class="profileNavItem pull-left">
                                <span class="profileNavLabel">Followers</span>
                                <span class="profileNavValue">#</span>
                                @*@ViewBag.CurrentUser.Followers.Count()*@
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="#" class="profileNavItem pull-left">
                                <span class="profileNavLabel">Likes</span>
                                <span class="profileNavValue">#</span>
                            </a>
                        </li>
                        <li class="EditProfile pull-right"><button type="button" class="btn btn-secondary pull-right"><span class="buttonText">Edit Profile</span></button></li>
                    </ul>
                </div>
        </div>
        
    </div>
</header>

<div class="container-fluid ChitsIndexContent">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 leftSide">
                <div class="profileCard">
                    <h1 class="profileCard-name"><a href="#"></a></h1>
                    <h2 class="profileCard-handler"><a href="#">@User.Identity.Name</a></h2>
                    <p class="profileCard-bio">Something something something</p>
                    <div class="profileCard-joinDate">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>Joined @ViewBag.CurrentUser.JoinedDate</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 CenterSide">
                <div class="profileContentHeader">
                    <ul class="profileHeader">
                        <li>Chits</li>
                        <li><a href="#">Chits & replies</a></li>
                        <li><a href="#">Media</a></li>
                    </ul>
                </div>
                @*<div class="profileContent">
                    <ol>
                        <li>
                            <div class="myProfileChits">

                            </div>
                        </li>
                    </ol>
                </div>*@
            </div>
            <div class="col-lg-3 RightSide"></div>
        </div>
    </div>
</div>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChitText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChitCreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChitText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChitCreatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChitID })
        </td>
    </tr>
}

</table>
